/* This is a CSS module file for styling the Score component */
.score {
    display: flex; /* use flexbox layout for the score component */
    justify-content: space-around; /* distribute the space evenly around the score items */
    align-items: center; /* align the score items vertically in the center */
    margin: 10px; /* add some margin around the score component */
  }
  
  .item {
    display: flex; /* use flexbox layout for each score item */
    flex-direction: column; /* stack the score item elements vertically */
    align-items: center; /* align the score item elements horizontally in the center */
  }
  
  .name {
    font-size: 24px; /* set the font size of the player name to 24px */
    font-weight: bold; /* set the font weight of the player name to bold */
  }
  
  .points {
    font-size: 18px; /* set the font size of the player points to 18px */
  }
  