/* This is a CSS module file for styling the Winner component */
.container {
    width: 80%; /* set the width of the container to 80% of its parent element */
    height: 80%; /* set the height of the container to 80% of its parent element */
    display: flex; /* use flexbox layout for the container */
    flex-direction: column; /* stack the container elements vertically */
    justify-content: center; /* align the container elements vertically in the center */
    align-items: center; /* align the container elements horizontally in the center */
  }
  
  .title {
    font-size: 48px; /* set the font size of the title to 48px */
    font-weight: bold; /* set the font weight of the title to bold */
  }
  
  .message {
    font-size: 36px; /* set the font size of the message to 36px */
  }
  